{# RollCMS_var footer_menu #}{# RollCMS_description Подвал-меню #}<nav id="menu-footer" class="container px-0">
  <div class="row m-0 px-0 pt-3 rounded-top-4">
    <div class="col-3 offset-1 h-100">
      
    </div>
    <div class="col-4">
      <ul class="list-unstyled">{% for point in footer_menu.menu %}{% if point.bPointPublish %}
        <li>
          <a href="{% if point.szPointUtlTo %}{{ point.szPointUtlTo }}{% else %}#{% endif %}">
            {{ point.szPointTitle|safe }}
          </a>
        </li>{% endif %}
        {% endfor %}</ul>
     </div>
    <div class="col-3 text-end">
      <p><a href="#"><img src="{{ static('svg/_logo_w.svg')}}" alt=""/></a></p>
      <p><a href="https://digital.gov.ru/ru/" target="_blank"><img src="{{ static('svg/_logo_mc_w.svg')}}" alt="Министерство цифрового развития, связи и массовых коммуникаций Российской Федерации"/></a></p>
    </div>
  </div>
  <div class="row m-0 p-0 align-items-end">
    <div class="col-3 offset-1">
      <p>
        <a href="#"><img src="{{ static('svg/telegramm.svg')}}" alt="Тереграмм"/></a>
        <a href="#"><img src="{{ static('svg/vk.svg')}}" alt="ВКонтакте" class="mx-3"/></a>
        <a href="#"><img src="{{ static('svg/ok.svg')}}" alt="Одноклассники"/></a>
      </p>
    </div>
    <div class="col-7 text-end">
      <p><small>© 2017—{% now 'Y' %}, Sergei Erjemin</small></p>
    </div> 
  </div>
</nav>