@font-face {
    font-family: 'Proxima Nova';
    src: url('/static/fonts/ProximaNova-Regular.eot');
    src: url('/static/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('/static/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body.day {
  --bg-b-light: #E5F3FE;
  --bg-b-dark: #316094;
  --text-light: #FFFFFF;
  --text-dark: #222222;

}
/*
 * СЛАЙДЕР НА ГЛАВНОЙ
 */
#index-slider .carousel-caption {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  text-align: left;
  width: 100%;
  padding: 0 20px;
  bottom: 3em;
  left: 10%;
}
/*
 * СЛАЙДЕР НА ГЛАВНОЙ
 */
#index-slider h2 {
  font-family: 'Proxima Nova', sans-serif; /* Главная. Баннер. Надпись. */
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 110%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#index-slider > .carousel-indicators > button { /* Главная. Баннер. Точечки (Индикаторы) */
  background-color: var(--text-light);
  border: 1px solid var(--text-light);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 2px 10px;
}
#index-slider > .carousel-indicators > button.active { /* Главная. Баннер. Точечки (Индикаторы) активный */
  background-color: var(--text-light);
  border: none;
  width: 13px;
  height: 13px;
  margin: 0 8px;
}
/*
 * ВЕРХНЕЕ МЕНЮ (САМОЕ ВЕРХНЕЕ)
 */
#nav_top_menu1 .navbar-brand { /* Логотип */
  background-color: transparent;
  background-image: url('/static/img/logo_bg_long.svg');
  background-position: right;
  height: 82px;
  padding-right: 100px;
}
#nav_top_menu1.to-show { /* Отображается и прилипает к верху */
  top: 0;
  transition: all .7s ease-in;
}
#nav_top_menu1.to-hide { /* Спрятано */
  top: -77px;
  background-color: var(--text-light);
  transition: all 1.1s ease-out;
}
#nav_top_menu1 .nav-item > a.nav-link { /* Пункты меню */
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--text-light);
  flex: none;
  /*order: 0;*/
  /*flex-grow: 0;*/
  text-decoration: none;
  position: relative;
  /*margin: auto;*/
  padding: 1ex 1em;
  transition: all .2s ease;
}
#nav_top_menu1 .nav-item > a.nav-link.menu-hovered:before{ /* Эффект при наведении */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 0 0 32px 0;
  background: transparent;
  width: 50px;
  height: 50px;
  transition: all .3s ease;
  border-top: transparent 2px solid;
}
#nav_top_menu1 .nav-item > a.nav-link.menu-hovered:hover:before { /* Эффект при наведении */
  width: 100%;
  background: #455AD766;
  background: linear-gradient(180deg, #455AD766 15%, #94BBE911 100%);
  border-top: var(--text-light) 2px solid;
}
#nav_top_menu1 .nav-item > a.nav-link.menu-hovered:active { /* Эффект при нажатии */
  transform: scale(.96)
}
/*
 * ВЕРХНЕЕ МЕНЮ (КОТОРОЕ ПОНИЖЕ)
 */
#nav_top_menu2 .navbar-nav { /* Пункты меню верхнего (которое снизу, но может прилипнуть вверх при прокрутке и оттопыривается вниз) */
  display: flex;
  justify-content: space-between; /* Или space-around, space-evenly в зависимости от желаемого эффекта */
  width: 100%; /* Убедитесь, что родитель занимает всю ширину */
}
#nav_top_menu2  .nav-item { /* Пункты меню */
  border-radius: 1ex 1ex 0 0;
}
#nav_top_menu2  .nav-item > a.nav-link { /* Ссылки */
font-family: 'Proxima Nova', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
display: flex;
align-items: center;
color: var(--text-light);
flex: none;
order: 0;
flex-grow: 0;
}
#nav_top_menu2.to-90 { /* Оттопыривается вниз, т.к. более верхнее меню показывается */
  top: 90px;
  transition: top .9s;
  transform-box: fill-box;
  background: transparent;
}
#nav_top_menu2.to-00 { /* Прилипает к верху, т.к. более верхнее меню спрятано */
  top: 5px;
  transition: top .9s;
}
#nav_top_menu2.to-00 .container ul { /* Пункты меню */
  background: #0a001f99;
  transition: background-color 1.9s;
}

 .menu2-tab-passive {
  background-color: transparent;
  transition: background-color 0.9s ease-in-out;
    color: var(--text-light);
}
  .menu2-tab-active {
    background-color: #C3E6FFFF;
    transition: background-color 0ms;
  }
  .menu2-tab-active a {
    color: #316094 !important;
    border-bottom: 1px solid transparent !important;
  }
  .menu2-tab-active a:hover {
    border-bottom: 1px solid #316094 !important;
  }
  /*
   * ВЫПАДАЮЩЕЕ МЕНЮ 2 (ТО ЧТО ВЫПАДАЕТ ПО НАВЕДЕНИЮ НА ПУНКТЫ НИЖНЕГО ВЕРХНЕГО МЕНЮ)
   */
  #expand-top-menu2 {
  font-family: 'Proxima Nova', sans-serif;
  background-color:transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 3ex;
  line-height: 120%;
  overflow: hidden;
  transition: max-height .7s ease-in-out, background-color 0.9s ease-in-out, color 0.4s ease-in-out;
}
#expand-top-menu2 > div {
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}
#expand-top-menu2.to-hide {
  max-height: 0;
  background-color: #0C102100;
  color: transparent;
  transition-delay: 0ms;
}
#expand-top-menu2.to-show {
  background-color:#C3E6FFFF;
  max-height: 100vh;
  opacity: 1;
  transition: opacity 3.5s ease-in-out;
}
#expand-top-menu2.to-show > div.container > div.row > div > p > a {
  color: var(--text-dark);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  display: inline-block;
  border-left: transparent 5px solid;
}
#expand-top-menu2.to-show > div.container > div.row > div > p > a:hover {
  color: var(--text-light); /* Цвет текста при наведении */
  border-left: var(--text-light) 5px solid;
  background-color: var(--bg-b-dark);
  transition: color .3s ease-in-out, background-color .8s ease-in-out, border-left .8s ease-in-out;
}
/*
 * МЕНЮ В ФУТЕРЕ
 */
#menu-footer { background: var(--bg-b-light) ; } /* Фон базовый */
#menu-footer > div  { background: var(--bg-b-dark); } /* Фон с закругленными уголками */
#menu-footer > div  > div > p, #menu-footer > div  > div > address, #menu-footer > div  > div > ul > li { /* Параграфы */
  color: var(--text-light);
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}
#menu-footer > div  > div > ul > li { line-height: 2em; } /* Пункты меню */
#menu-footer > div  > div > p> a, #menu-footer > div  > div > address > a, #menu-footer > div  > div > ul > li > a { /* Ссылки (в том числе с картинок) */
  color: var(--text-light);
  text-decoration: none;
}
#menu-footer > div  > div > p > a[href^="mailto:"], #menu-footer > div  > div > ul > li > a { /* Ссылки на почту и в меню */
  border-bottom: solid 1px var(--text-light);
}
#menu-footer > div  > div > address > a[href^="tel:"] { /* Ссылки на телефон */
  border-bottom: dashed 1px var(--text-light);
}

